*{
    padding: 1px;
    box-sizing: border-box;
}

h1 {
    color: rgb(0, 0, 0);              /* Color del titulo */
    text-align: left;                 /*Se posiciona el texto hacia la derecha*/
    font-size: 40px;                    /* Tamaño del texto */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo de letra */
}

body {
    background-image: url(../Imagenes/Birdcaps.jpg); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;                         /* Ajusta la imagen a toda la pantalla (Importante) */
    
}

.Container2 {
    color: black;                   /* Color de la letra */
    text-align:left;               /*Se posiciona el texto hacia la derecha*/
    text-decoration: solid;
    font-size: 21px;                  /* Tamaño del texto */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   /* Estilo de letra */
}

.boton-1 {
    color: rgb(0, 0, 0);                   /* Color de la letra */
    text-align:right;               /*Se posiciona el texto hacia la derecha*/
    text-decoration: solid;
    font-size: 21px;                  /* Tamaño del texto */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   /* Estilo de letra */
}



